<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEIFitness</title>
</head>
<body>
    <h1>Edit</h1>
    <form action="" method="POST">
        <!-- date -->
        <label for="DATE">DATE:</label>
        <input id="DATE" type="datetime-local" name="date" value="<%= new Date(Date.now() + (365 * 24 * 60 * 60 * 1000)).toISOString().substr(0,16) %>" required>
        <br>
        <!-- movement selection abcd-->
        <label for="MOVEMENT">MOVEMENT:</label>
        <select name="MOVEMENT" id="MOVEMENT">
            <option value="Squat">Squat</option>
            <option value="Hinge">Hinge</option>
            <option value="Lunge">Lunge</option>
            <option value="Pull">Pull</option>
            <option value="Press">Press</option>
            <option value="Rotation">Rotation</option>
            <option value="Combination">Combination</option>
            <option value="Olympic">Olympic</option>
            <option value="Chest">Chest</option>
            <option value="Back">Back</option>
            <option value="Biceps">Biceps</option>
            <option value="Triceps"Triceps></option>
            <option value="Forearms">Forearms</option>
            <option value="Hamstrings">Hamstrings</option>
            <option value="Quads">Quads</option>
            <option value="Calves">Calves</option>
            <option value="Glutes">Glutes</option>
            <option value="Anterior Core">Anterior Core</option>
            <option value="Lateral Core">Lateral Core</option>
            <option value="Posterior Core">Posterior Core</option>
        </select>
        <br>
        <!-- equipment selection -->
        <label for="EQUIPMENT">EQUIPMENT:</label>
        <select id="EQUIPMENT" name="EQUIPMENT">
            <option value="BB">BB</option>
            <option value="DB"></option>
            <option value="Cable"></option>
            <option value="Bodyweight"></option>
            <option value="Band">Band</option>
            <option value="TRX">TRX</option>
            <option value="KB">KB</option>
            <option value="Machine">Machine</option>
            <option value="Mini Band">Mini Band</option>
            <option value="BOSU">BOSU</option>
            <option value="BalanceBeam">Balance Beam</option>
            <option value="Foam-Balance-Pad">Foam Balance Pad</option>
            <option value="Slidingdisc">Sliding Disc</option>
        </select>
        <br>
        <button type="submit">Update</button>
    </form>
</body>
</html>